* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

footer {
    font-size: 2rem;
    padding: .5rem .5rem .3rem .5rem;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
}

footer p a {
    color: #272727;
}